@use "common/header";
@use "pages/top";
@use "pages/photography";
@use "pages/single-photography";
@use "pages/about";
@use "pages/news";
@use "pages/single-news";

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: #222;

  .img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .link {
    display: block;
  }
}