//////////////////////////////* Font *////////////////////////////////////

@font-face {
  font-family: 'NotoSansJP';
  src: url('../../fonts/NotoSansJP-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}