@use "mixin" as mixin;

.fixed {
    position: fixed;
    left: 60px;
    top: 60px;

    @include mixin.mq(tb) {
        position: static;
        left: 0;
        top: 0;
        padding: 60px 20px 70px;
    }

    .hd {
        display: flex;
        flex-direction: column;

        @include mixin.mq(tb) {
            display: block;
        }

        .fx {
            @include mixin.mq(tb) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
            }

            .logo {
                margin-bottom: 80px;

                @include mixin.mq(tb) {
                    margin: 0;
                }
            }

            .socialBtnSp {
                display: none;

                @include mixin.mq(tb) {
                    display: block;
                }
            }
        }

        .menu {
            margin-bottom: 50px;

            @include mixin.mq(tb) {
                display: flex;
                margin-bottom: 0;
            }
        }

        .menu li {
            margin-bottom: 25px;

            @include mixin.mq(tb) {
                margin-bottom: 0;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .socialBtn {
            margin-bottom: 100px;

            @include mixin.mq(tb) {
                display: none;
            }
        }

        .copy {
            @include mixin.mq(tb) {
                display: none;
            }
        }
    }

}