.fixed {
    position: fixed;
    left: 60px;
    top: 60px;

    .hd {
        display: flex;
        flex-direction: column;

        .logo {
            margin-bottom: 80px;
        }

        .menu {
            margin-bottom: 50px;
        }

        .menu li {
            margin-bottom: 25px;
        }

        .socialBtn {
            margin-bottom: 100px;
        }
    }

}