@use "mixin" as mixin;

/*-------------------------------------------------------------------------------
Base Style
-------------------------------------------------------------------------------*/

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: #222;
}

/*============================================================================== 
Home
==============================================================================*/

.topImg {
  width: 935px;
}

/*============================================================================== 
Photography
==============================================================================*/

.box {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;

  @include mixin.mq(pc) {

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include mixin.mq(tb) {
    width: 49%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

/*============================================================================== 
Single Photography
==============================================================================*/

.caption {
  .ttl {
    font-size: 15px;
  }

  .captionImg {
    margin: 2% 0 4% 0;
  }
}

.boxes {
  .singleBox {
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;

    @include mixin.mq(pc) {

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    @include mixin.mq(tb) {
      width: 49%;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

/*============================================================================== 
About
==============================================================================*/

.profile {
  width: 60%;

  .description {
    margin-top: 2%;
    line-height: 1.8;

    .jp {
      margin: 3% 0;
    }
  }
}

/*==============================================================================  
News
==============================================================================*/

.card {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 4%;

  &:nth-child(2n) {
    margin-right: 0;
  }

  .meta {
    margin-top: 2%;


    .title {
      margin: 1% 0 1.5% 0;
    }
  }
}

/*============================================================================== 
Single News
==============================================================================*/

.post {

  .headarea {
    margin-bottom: 3%;

    .heading {
      font-size: 20px;
      margin-bottom: 1%;
    }
  }

  .img {
    margin-bottom: 4%;
  }

  .text {
    line-height: 1.8;
  }
}

/* ============================================================================
Contact
==============================================================================*/

.mail {
  text-decoration: underline;
  margin-bottom: 20px;
}