.container {
  padding: 60px 60px 60px 250px;

  .caption {
    .ttl {
      font-size: 15px;
    }

    .captionImg {
      width: 100%;
      height: auto;
      max-width: 100%;
      margin: 2% 0 4% 0;
    }
  }

  .singlePhotoList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .singleBox {
      width: 23.5%;
      margin-right: 2%;
      margin-bottom: 2%;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}