@font-face {
  font-family: "NotoSansJP";
  src: url("../../fonts/NotoSansJP-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*==============================================================================
Common Parts
==============================================================================*/
/*============================================================================== 
Header
==============================================================================*/
.fixed {
  position: fixed;
  left: 60px;
  top: 60px;
}
@media screen and (max-width: 930px) {
  .fixed {
    position: static;
    left: 0;
    top: 0;
    padding: 60px 20px 70px;
  }
}
.fixed .hd {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 930px) {
  .fixed .hd {
    display: block;
  }
}
@media screen and (max-width: 930px) {
  .fixed .hd .fx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
}
.fixed .hd .fx .logo {
  margin-bottom: 80px;
}
@media screen and (max-width: 930px) {
  .fixed .hd .fx .logo {
    margin: 0;
  }
}
.fixed .hd .fx .socialBtnSp {
  display: none;
}
@media screen and (max-width: 930px) {
  .fixed .hd .fx .socialBtnSp {
    display: block;
  }
}
.fixed .hd .menu {
  margin-bottom: 50px;
}
@media screen and (max-width: 930px) {
  .fixed .hd .menu {
    display: flex;
    margin-bottom: 0;
  }
}
.fixed .hd .menu li {
  margin-bottom: 25px;
}
@media screen and (max-width: 930px) {
  .fixed .hd .menu li {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .fixed .hd .menu li:last-child {
    margin-right: 0;
  }
}
.fixed .hd .socialBtn {
  margin-bottom: 100px;
}
@media screen and (max-width: 930px) {
  .fixed .hd .socialBtn {
    display: none;
  }
}
@media screen and (max-width: 930px) {
  .fixed .hd .copy {
    display: none;
  }
}

.container {
  padding: 60px 60px 60px 250px;
}
@media screen and (max-width: 930px) {
  .container {
    padding: 0 20px;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.link {
  display: block;
  transition: opacity 0.2s linear;
}
.link:hover {
  opacity: 0.7;
  text-decoration: none;
}

.date {
  font-size: 12px;
  color: #666;
}

/*-------------------------------------------------------------------------------
Base Style
-------------------------------------------------------------------------------*/
body {
  font-family: "NotoSansJP", sans-serif;
  font-size: 14px;
  color: #222;
  line-height: 1.6;
}

/*============================================================================== 
Home
==============================================================================*/
@media screen and (min-width: 931px) {
  .topImg {
    width: 935px;
  }
}

/*============================================================================== 
Photography
==============================================================================*/
.box {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}
@media screen and (min-width: 931px) {
  .box:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 930px) {
  .box {
    width: 49%;
  }
  .box:nth-child(2n) {
    margin-right: 0;
  }
}

/*============================================================================== 
Single Photography
==============================================================================*/
.caption .ttl {
  font-size: 15px;
}
.caption .captionImg {
  margin: 2% 0 4% 0;
}

.boxes .singleBox {
  width: 23.5%;
  margin-right: 2%;
  margin-bottom: 2%;
}
@media screen and (min-width: 931px) {
  .boxes .singleBox:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 930px) {
  .boxes .singleBox {
    width: 49%;
  }
  .boxes .singleBox:nth-child(2n) {
    margin-right: 0;
  }
}

/*============================================================================== 
About
==============================================================================*/
@media screen and (min-width: 931px) {
  .profile {
    width: 600px;
  }
}
.profile .description {
  margin-top: 5%;
  line-height: 1.8;
}
.profile .description .jp {
  margin: 4% 0;
}
@media screen and (max-width: 930px) {
  .profile {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .profile {
    font-size: 12px;
  }
}

/*==============================================================================  
News
==============================================================================*/
.card {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 4%;
}
.card:nth-child(2n) {
  margin-right: 0;
}
.card .meta {
  margin-top: 12px;
}
.card .meta .title {
  margin: 0.5% 0 1% 0;
}
@media screen and (max-width: 640px) {
  .card {
    font-size: 12px;
  }
}

/*============================================================================== 
Single News
==============================================================================*/
.post .headarea {
  margin-bottom: 4%;
}
.post .headarea .heading {
  font-size: 20px;
  margin-bottom: 1%;
}
.post .img {
  margin-bottom: 5%;
}
.post .text {
  line-height: 1.8;
}

/* ============================================================================
Contact
==============================================================================*/
.mail {
  text-decoration: underline;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */