//////////////////////////////* Font *////////////////////////////////////

@font-face {
  font-family: 'MartelSans';
  src: url('../../fonts/MartelSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yugothic';
  src: url('../../fonts/yugothic-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}